main, header, footer {
    display: flex;
    justify-content: center;
    align-content: center;
}



.container {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio : 1 / 1;
    margin-bottom: 1.5em;
}

.grid-element {
    aspect-ratio : 1 / 1;
    border: solid 0.25px rgb(189, 221, 237);
}

#reset-grid {
    margin-left: 10px;
}

.paint-mode, .grid-size {
    display: block;
    margin: auto;
}